
<form method='POST' action='/notes/save'>
<div class="container-fluid mid-section-body">
    {{#if create}}
        <input type='hidden' name='operation' value='create'>
    {{else}}
        <input type='hidden' name='operation' value='update'>
    {{/if}}

    <!-- Input Key -->
    <div class="form-group row align-items-center mb-2">
        <div class="col-md-2"></div>
        <label for="notekey" class="col-md-1 col-form-label"><h5>Key</h5></label>
        {{#if create}}
            <div class="col-md-7">
                <input type='text' class="form-control" placeholder="Note key" name='noteKey' value=''/>
            </div>
        {{else}}
            <div class="col-md-7">
                <input type='hidden' name='noteKey' value='{{#if note }}{{note.key}}{{/if}}'/>
                <input type='text' class="form-control" placeholder="{{#if note}}{{note.key}}{{/if}}" disabled />
            </div>
        {{/if}}
        <div class="col-md-2"></div>
    </div>

    <!-- Input Note Title -->
    <div class="form-group row align-items-center mb-2">
        <div class="col-md-2"></div>
        <label for="title" class="col-md-1 col-form-label"><h5>Title</h5></label>
        <div class="col-md-7">
            <input type='text' class="form-control" placeholder="Note Title" name='title' id="title"
                   value='{{#if note}}{{note.title}}{{/if}}'/>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!-- Input Note Content test -->
    <div class="form-group row align-items-center mb-2">
        <div class="col-md-2"></div>
        <label for="content" class="col-md-1 col-form-label"><h5>Note</h5></label>
        <div class="col-md-7">
        <textarea class="form-control col-md-7" name="content" rows="5">{{#if note}}{{note.content}}{{/if}}</textarea>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="form-group row align-items-center mb-2 d-flex justify-content-center">
        <button type="submit" class="col-auto btn btn-primary" data-bs-theme="dark">Submit</button>
    </div>

</div>
</form>
